.theFoot {
    background-color: rgb(99, 139, 129);
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.theFoot h6 {
    background-color: rgb(99, 139, 129) !important;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
}

.logos {
    text-align: center;
}

.logos svg {
    font-size: 50px;
    color: pink;
    margin-left: 10px;
    margin-right: 10px;
}