.theFoot {
    background-color: rgb(101, 129, 111);
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.theFoot h6 {
    background-color: rgb(101, 129, 111) !important;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
}

.logos {
    text-align: center;
}

.logos svg {
    font-size: 50px;
    color: rgb(12, 63, 78);
}