#gallery {
    color: white;
    text-align: center;
    margin: 50px;
    border: 1px solid white;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#btn {
    color: white;
    background-color: rgb(101, 129, 111);
}

#galleryImg {
    width: 70%;
}