#homePage {
    margin-bottom: 80px;
}

#featuredDiv {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Gruppo', cursive;
    background-image: url("https://images.unsplash.com/photo-1548032885-b5e38734688a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

#featuredPainting {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.featuredPaintingText {
    font-size: 50px;
    padding: 45px;
    font-weight: 900;
}

.featuredCard {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: black !important;
    margin-bottom: 20px;
}

.featuredInfo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.bonnie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
}

.centered {
    font-family: 'Gruppo', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 900;
    cursor: pointer;
    background-color: pink;
    width: 400px;
    
  }

  .morgansAbout {
    position: relative;
    
  }

  .morgansAboutImg {
      width: 400px;
      border-radius: 50%;
      border: 5px solid white;
  }
  
.breathDivImg {
    position: relative;
}

.breathImgImg {
    width: 400px;
    border-radius: 50%;
    border: 5px solid white;
}

  .morgansContact {
    position: relative;
  }

  .morgansContactImg {
      width: 400px;
      border-radius: 50%;
      border: 5px solid white;
  }

@media screen and (max-width: 1220px) {
    .bonnie {
        display: block;
    }

    .centered {
        width: 400px;
        font-size: 20px;
    }

    .morgansAbout {
        margin-bottom: 100px;
    }

    .morgansAboutImg {
        width: 400px;
    }

    .morgansContactImg {
        width: 400px;
    }

    .breathDivImg {
        margin-bottom: 100px;
    }

    .breathImgImg {
        width: 400px;
    }

}

@media screen and (max-width: 800px) {
    #featuredPainting {
        width: 85%;
    }

    .centered {
        font-size: 20px;
        width: 300px;
    }
    .morgansAboutImg {
        width: 300px;
    }

    .morgansContactImg {
        width: 300px;
    }

    .breathImgImg {
        width: 300px;
    }
}