#homePage {
    margin-bottom: 100px;
}

#featuredDiv {
    text-align: center;
    color: white;
    font-family: 'Gruppo', cursive;
}

#featuredPainting {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.featuredPaintingText {
    margin: 45px;
}