.cartTitle {
    text-align: center;
    color: white;
    font-family: 'Gruppo', cursive;
}

.emptyCart {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 200;
    margin-bottom: 250px;
}

.checkoutBtnDiv {
    text-align: center;
}

.checkoutBtn {
    margin-bottom: 120px;
}

.removeBtnn {
    color: white;
    background-color: rgb(255, 2, 2);
    padding: 5px;
}

.total {
    color: white;
    margin-bottom: 40px;
}