#footer > h6 {
    background-color: rgb(47, 112, 112);
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    color: white;
    font-family: 'Gruppo', cursive;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
}