#navBar {
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

#navBar li a {
    z-index: 1;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-family: 'Gruppo', cursive;
    background-color: white;
    border: 4px solid white;
}

#border {
    background-color: pink;
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
}

#navItem {
    background-color: rgb(137, 189, 176);
    padding: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    z-index: 1;
    position: sticky;
    top: 0;
}

#navItem #border hr {
    width: 10%;
    border-top: 1px solid rgb(0, 0, 0);
    z-index: 1;
    background-color: white;
    
}

.webHidden {
    display: none;
    height: 1px;
}

.hamburger {
    display: none;
    background-color: rgb(102, 128, 128);
    flex-direction: column;
    width: 60px;
    height: 53px;
    padding: 10px;
    cursor: pointer;
}

.hamburger .bar {
    list-style: none;
    margin-top: 5px;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 1500px) {
    #navItem #border hr {
        width: 8%;
        z-index: 1;
    }
}

@media screen and (max-width: 1100px) {
    #navItem #border hr {
        width: 2%;
        z-index: 1;
    }
}

@media screen and (max-width: 800px) {
    .mobileHidden {
        display: none;
    }

    .webHidden {
        height: 100%;
        list-style: none;
        margin: 10px;
        width: 100px;
        text-align: center;
    }

    .webHidden li {
        margin-top: 10px;
        cursor: pointer;
        background-color: rgb(102, 128, 128);
    }

    .webHidden li a {
        text-decoration: none;
        color: white;
    }

    .hamburger {
        display: flex;
    }

    .displayMediaNav {
        display: block;
    }
}